body{
    margin:0;
    background:#0d0d0d;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

header{
    background:#7a0000;
    padding:30px;
    box-shadow:0 0 20px red;
}

h1{
    margin:0;
    font-size:45px;
}

section{
    width:80%;
    margin:30px auto;
    background:#1a1a1a;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(255,0,0,.4);
}

.card{
    background:#262626;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
    transition:.3s;
}

.card:hover{
    transform:scale(1.03);
    box-shadow:0 0 15px red;
}

button{
    background:#b30000;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    margin:10px;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:red;
}

#frase{
    font-size:20px;
    color:#ffb3b3;
}

#resultado{
    margin-top:20px;
    color:#ff4444;
}

footer{
    background:#111;
    padding:20px;
    margin-top:30px;
}